// app global css in SCSS form

// 毛玻璃模糊
.blur {
  background-color: rgba(255, 255, 255, 0.72) !important;
  backdrop-filter: blur(10px) !important;
}
// 阴影
.shadow {
  box-shadow: 0 1px 3px rgb(0 0 0 / 20%), 0 1px 1px rgb(0 0 0 / 14%), 0 2px 1px -1px rgb(0 0 0 / 12%) !important;
}
// 悬浮动画
.hover-transition {
  transition: transform 0.5s, box-shadow 0.5s;
}
.hover-transition:hover {
  transform: translate3d(1%, 1%, 0) scale(1.05);
  box-shadow: 0 1px 3px rgb(0 0 0 / 30%), 0 1px 1px rgb(0 0 0 / 24%), 0 2px 1px -1px rgb(0 0 0 / 22%) !important;
}
// 统一Quasar组件样式
.q-menu {
  border-radius: 8px !important;
  @extend .blur;
  @extend .shadow;
}
.q-notification {
  border-radius: 8px !important;
  @extend .shadow;
}
.q-tooltip {
  border-radius: 8px !important;
  @extend .shadow;
}
.q-drawer {
  background: transparent;
}
.q-dialog .q-card {
  border-radius: 16px !important;
  @extend .blur;
  @extend .shadow;
}
// 毛玻璃圆角卡片
.frosted-glass-card {
  border-radius: 16px !important;
  @extend .blur;
  @extend .shadow;
}
.frosted-glass-dialog .q-card {
  border-radius: 16px !important;
  @extend .blur;
  @extend .shadow;
}
.translucent-card {
  background-color: rgba(255, 255, 255, 0.5) !important;
  border-radius: 16px !important;
}
// 页面边距
.page-px {
  margin: 0 auto !important;
  padding-left: 5vw !important;
  padding-right: 5vw !important;
  max-width: 1920px;
}
@media (max-width: $breakpoint-sm-max) {
  .page-px {
    padding-left: 16px !important;
    padding-right: 16px !important;
  }
}
.page-pt {
  padding-top: calc(#{$header-height} + 8px) !important;
}
// 展开图标悬浮动画
.expand-more {
  transition: all 0.5s;
}
.expand-less {
  transform: rotate(-180deg);
  transition: all 0.5s;
}
/*修改滚动条样式*/
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background: rgb(239, 239, 239);
  border-radius: 2px;
}
::-webkit-scrollbar-thumb {
  background: #bfbfbf;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #333;
}
::-webkit-scrollbar-corner {
  background: #ddd;
}
// 修改整体table样式
.quasar-table {
  max-height: 100%;
  color: #333;
  border-radius: 2px;
  background: transparent;
  tr,
  td,
  .q-td {
    border-color: #fff;
    &:first-child {
      border-image: linear-gradient(30deg, transparent 10%, #fff 60%, #eee 54%) 2 2 2 2;
    }
    &:last-child {
      border-image: linear-gradient(-30deg, transparent 10%, #fff 60%, #eee 54%) 2 2 2 2;
    }
  }

  thead {
    background: transparent;
    color: #25396f;
    th {
      font-weight: bold;
    }
  }
  tr:nth-child(even) {
    background: transparent;
  }
}
// markdown预览
.md-preview {
  .github-markdown-body {
    padding: 8px 0 16px 0;
    font-size: 1pc;
  }
  ::v-deep(p) {
    text-indent: 2em;
  }
  ::v-deep(img) {
    margin-bottom: 8px;
    max-width: 820px;
    border-radius: 4px;
  }
}
// 圆角16px
.border-radius-normal {
  border-radius: 16px;
}
/* 自定义日期选择器样式 */
.dp-custom-input {
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.24);
  &:hover {
    border: 1px solid rgba(0, 0, 0, 1);
  }
}
.dp-custom-menu {
  border-radius: 16px !important;
  padding-bottom: 16px;
}
.translucent-grid-card {
  background-color: rgba(255, 255, 255, 0.5) !important;
  border-radius: 16px !important;
  margin: 8px;
  box-shadow: none;
}
/* 通知卡片 */
.dialog-card {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 16px !important;
  padding: 10px;
  color: #000000;
}
